# Ignore all .html files
*.html

.env

# Ignore all __pycache__ directories
__pycache__/
text2sql_rag/__pycache__
# Ignore Folder
html_viz/
tableinfo_dir/
tmp/
future_enhancements/ui
data_science_folder/cleaned
.streamlit/

# Ignore specific files in specific folders
data_science_folder/raw
data_science_folder/cleaned
future_enhancements/ui
html_viz/text2sql_dag.html
data_science_folder/research/rag_research.ipynb
data_science_folder/research/eda_forecasting.ipynb
data_science_folder/research/rag_research.ipynb





